<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546013665087-p9mmeujd0d2ths5vo5t8jotnpktmdlc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546013665087-p9mmeujd0d2ths5vo5t8jotnpktmdlc7</string>
	<key>API_KEY</key>
	<string>AIzaSyD3NaOEcWneY8v-ACGW_VGU9fx6sjrvKGE</string>
	<key>GCM_SENDER_ID</key>
	<string>546013665087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodmandu</string>
	<key>PROJECT_ID</key>
	<string>foodmandu-a1c94</string>
	<key>STORAGE_BUCKET</key>
	<string>foodmandu-a1c94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546013665087:ios:cc0a253070dd59435ba58a</string>
</dict>
</plist>